<p> <strong><%= post.user.profile.name %>  <%= post.user.profile.surname %> </strong> <%= time_ago_in_words(post.created_at) %> ago </p>
<%= post.body %>


<hr>

<p>

<%= pluralize(post.likes.count, "Like")%>

<% unless post.liked_by(current_user) %>
	<%= link_to "| Like", post_likes_path(post) , method: "post" %>
<% else %>
	<%= link_to "| Unlike", post_like_path(post, post.get_like(current_user).id), method: "delete" %>
<% end %>

<%= link_to "| Comment", new_post_comment_path(post) %>

 </p>

<hr>
<p><strong> Post comments:</strong></p>

<% if post.comments.empty? %>
	<p> No comments yet </p>
<% else %>
	<%= render post.comments %>
<% end %>

<hr><hr><br>